exclude test_summarizer.py
include slm_summarizer/config.yaml
recursive-exclude venv *
recursive-exclude .venv *
recursive-exclude .vscode *
recursive-exclude .cache *
exclude LICENSE
exclude setup.py

